.prose {
  min-width: 50px;
  border: 1px solid red;
  min-height: 50px;

  strong {
    color: #222;
    background: linear-gradient(
        104deg,
        #82ffad00 0.9%,
        #82ffad 2.4%,
        #82ffad80 5.8%,
        #82ffad1a 93%,
        #82ffadb3 96%,
        #82ffff00 98%
      ),
      linear-gradient(183deg, #82ffad00, #82ffad4d 7.9%, #82ffad00 15%);
    padding: 0.1em 0.4em;
    box-decoration-break: clone;
    margin: 0;
    border-radius: 7.5px;
    text-shadow: -12px 12px 9.8px #82ffadb3, 21px -18.1px 7.3px #fff0,
      -18.1px -27.3px 30px #fff;
    border: none;
  }
}

.textarea {
  position: relative;
  z-index: 0;
  width: 240px;
  height: 56px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: var(--line_color);
  letter-spacing: 2px;
  transition: all 0.3s ease;
  background: none;
  border: none;
  cursor: pointer;
  resize: "vertical";
  
&::before {
  content: "";
  top: -16px;
  left: 40px;
  width: 32px;
  height: 140px;
  transform: rotate(30deg);
  position: absolute;
  
}
}




.main{
  width: 300px;
  height: 50px;
  margin: 100px auto;
  outline: none;
  position: relative;
  background: none;
}

.input{
  position: relative;
    z-index: 999;
  width: 100%;
  height: 100%;
  border: none;
  color: #333333;
  padding-left: 10px;
  font-family: tahoma;
  font-size: 17px;
  outline: none;
  background: none;
}

  .main .place{
  position: absolute;
  background: none;
  color: #AAA;
  transition: 0.2s ease;
  top: 14px;
  left: 6px;
  border-radius: 3px;
  padding: 2px;
}

  .input:focus + .place{
   top: -10px;
   background: #ffcb66;
   font-size: 14px;
   color: #000;
}

  .main .bor{
  display: block;
  width: 0;
  height: 3px;
  background: #ffcb66;
  margin: auto;
  transition: 0.2s ease;
}

 .input:focus ~ .bor{
  width: 100%;
}