body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-blend-mode: normal, lighten, multiply, hard-light;
  font-family: "DM Sans", sans-serif;

  color: #3a405a;
  font-family: "Lato", sans-serif;
}

#root {
  background: -webkit-linear-gradient(45deg, #a5f9b3, #66deef);
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.flex {
  display: flex;
}
.flex-center {
  align-items: center;
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: start;
}
.align-items-start-flex {
  align-items: flex-start;
  display: flex;
}
.text-algin-center {
  text-align: center;
}
.flex-direction-column {
  flex-direction: column;
}

h1 {
  font-family: "Damion", cursive;
}

.editable-content {
  border: 1px solid #000; /* Grubość i kolor kursora */
  padding: 2px; /* Odstęp wokół kursora, aby go oddzielić od tekstu */
  cursor: pointer;
}

.pos-relative{
  position: relative;
}

.top20 {
  top: 2rem
}

@media screen and (max-width: 460px) {
  .form-container {
    flex-direction: column;
    margin-top: 2rem;
  }
}