body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: linear-gradient(
      62deg,
      rgba(1, 95, 183, 0.9732216701223994) 13%,
      rgba(255, 122, 151, 0.5) 4%
    ),
    linear-gradient(
      44deg,
      rgba(0, 43, 99, 0.07922090238615942) 39%,
      rgba(242, 140, 143, 0.5) 18%
    ),
    linear-gradient(
      118deg,
      rgba(84, 202, 242, 0.03152997265339608) 40%,
      rgba(247, 155, 187, 0.5) 54%
    ),
    linear-gradient(
      58deg,
      rgba(90, 90, 237, 0.16144443572260592) 83%,
      rgba(249, 156, 142, 0.5) 23%
    );
  background-blend-mode: normal, lighten, multiply, hard-light;
  font-family: "DM Sans", sans-serif;

  color: #3a405a;
  font-family: "Lato", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.flex {
  display: flex;
}
.flex-center {
  align-items: center;
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: start;
}

.text-algin-center {
  text-align: center;
}
.flex-direction-column {
  flex-direction: column;
}

h1 {
  font-family: "Damion", cursive;
}

.editable-content {
  border: 1px solid #000; /* Grubość i kolor kursora */
  padding: 2px; /* Odstęp wokół kursora, aby go oddzielić od tekstu */
  cursor: pointer;
}

.pos-relative{
  position: relative;
}


@import url('http://fonts.cdnfonts.com/css/magic-brush');
#kygo {
  font-family: 'Magic Brush', sans-serif;
  font-size: 100px;
  background: -webkit-linear-gradient(45deg, #a5f9b3, #66deef);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  animation: 3s reveal-text;
}

@keyframes reveal-text {
  0% {
    -webkit-clip-path: polygon(0 0, 10% 0, 10% 0, 0 0);
clip-path: polygon(0 0, 10% 0, 10% 0, 0 0);
  }
100% {
   -webkit-clip-path: polygon(0 100%, 10% 100%, 10% 0, 0 0);
clip-path: polygon(0 100%, 10% 100%, 10% 0, 0 0);
  }

}