@import "./assets/styles/TaskForm/index.scss";
@import "./assets/styles/TaskForm/card.scss";
@import "./assets/styles/components/buttons.scss";

body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
	background-image: linear-gradient(62deg, rgba(1, 95, 183, 0.9732216701223994) 13%, rgba(255, 122, 151, 0.5) 4%),linear-gradient(44deg, rgba(0, 43, 99, 0.07922090238615942) 39%, rgba(242, 140, 143, 0.5) 18%),linear-gradient(118deg, rgba(84, 202, 242, 0.03152997265339608) 40%, rgba(247, 155, 187, 0.5) 54%),linear-gradient(58deg, rgba(90, 90, 237, 0.16144443572260592) 83%, rgba(249, 156, 142, 0.5) 23%); background-blend-mode: normal,lighten,multiply,hard-light;
  font-family: 'DM Sans', sans-serif;

	color: #3A405A;
	font-family: 'Lato', sans-serif
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center
}

.align-items-start {
  align-items: center
}

.text-algin-center {
  text-align: center;
}

h1 {
  font-family: "Damion", cursive;
}